# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=hospital
POSTGRES_USER=ariel5253
POSTGRES_PASSWORD=ariel5253

# Liquibase Configuration
LIQUIBASE_CHANGELOG_FILE=changelog-master.yaml
LIQUIBASE_CONTEXTS=dev
LIQUIBASE_LABELS=

# Docker Configuration
COMPOSE_PROJECT_NAME=hospital-sql